<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ericytsang.app.example.android">

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="false"
        android:allowBackup="false"
        android:label="@string/app_title"
        android:theme="@style/Theme.AppCompat">

        <activity android:name="com.github.ericytsang.example.app.android.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.ericytsang.androidlib.alertdialog.AlertDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"
            android:label="@string/app_title"/>

        <activity
            android:name="com.github.ericytsang.androidlib.confirmdialog.ConfirmDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"
            android:label="@string/app_title"/>

        <activity
            android:name="com.github.ericytsang.androidlib.cannotopenlinkdialog.CannotOpenLinkActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"/>

    </application>

</manifest>
