<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ericytsang.app.example.android">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="@string/app_title"
        android:theme="@style/Theme.AppCompat"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.ericytsang.androidlib.alertdialog.AlertDialogActivity"
            android:label="@string/app_title"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />

        <activity
            android:name="com.github.ericytsang.androidlib.confirmdialog.ConfirmDialogActivity"
            android:label="@string/app_title"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />

        <activity
            android:name="com.github.ericytsang.androidlib.cannotopenlinkdialog.CannotOpenLinkActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />

        <activity
            android:name="com.github.ericytsang.androidlib.listitempickerdialog.ListItemPickerDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />

        <activity
            android:name="com.github.ericytsang.androidlib.texinputdialog.TextInputDialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />

    </application>

</manifest>